[Unit]
Description=Run Instapaper Delivery snap read every morning

[Timer]
OnCalendar=*-*-* 06:30:00
Persistent=true

[Install]
WantedBy=timers.target
